<!DOCTYPE html>
<html lang="{{ site.lang | default: 'id-ID' }}">
<head>
	{% if page.title -%}
	<title>{{ page.title }} - {{ site.title }}</title>
	{%- else %}
		{%- if site.headline -%}
		<title>{{ site.headline }}</title>
		{%- else %}
		<title>{{ site.title }}</title>
		{%- endif %}
	{%- endif %}

	{% include meta.html %}

	{% include schema.html %}

	<!-- Preload -->
	<link rel="preload" as="style" href="{{ '/assets/css/font.css' | relative_url }}{% if site.version %}?v={{ site.version }}{% endif %}" />
	<link rel="preload" as="style" href="{{ '/assets/css/tailwind.css?dev=1.2' | relative_url }}{% if site.version %}?v={{ site.version }}{% endif %}" />
	<link rel="preload" as="style" href="{{ '/assets/css/main.css?dev=1.2' | relative_url }}{% if site.version %}?v={{ site.version }}{% endif %}" />
	<link rel="preload" as="script" href="{{ '/assets/js/main.js?dev=1.2' | relative_url }}{% if site.version %}?v={{ site.version }}{% endif %}" />
	{%- if page.layout == 'product' %}
	<link rel="preload" as="style" href="{{ '/assets/css/splide.min.css' | relative_url }}" />
	<link rel="preload" as="script" href="{{ '/assets/js/jquery.min.js' | relative_url }}" />
	<link rel="preload" as="script" href="{{ '/assets/js/splide.min.js' | relative_url }}" />
	<link rel="preload" as="script" href="{{ '/assets/js/zoom.min.js' | relative_url }}" />
	{%- endif %}

	<!-- Main -->
	{%- if page.layout == 'product' %}
	<link rel="stylesheet" href="{{ '/assets/css/splide.min.css' | relative_url }}" />
	{%- endif %}
	<link rel="stylesheet" href="{{ '/assets/css/font.css' | relative_url }}{% if site.version %}?v={{ site.version }}{% endif %}" />
	<link rel="stylesheet" href="{{ '/assets/css/tailwind.css?dev=1.2' | relative_url }}{% if site.version %}?v={{ site.version }}{% endif %}" />
	<link rel="stylesheet" href="{{ '/assets/css/main.css?dev=1.2' | relative_url }}{% if site.version %}?v={{ site.version }}{% endif %}" />

	<!-- Development -->
	<link rel="stylesheet" href="{{ 'tailwind.css?dev=1.2' | relative_url }}" />
</head>
<body class="max-lg:fixed max-lg:w-screen max-lg:h-screen max-lg:overflow-hidden">
	<div class="max-lg:h-screen max-lg:overflow-hidden">
		<div class="h-screen max-lg:overflow-auto max-lg:pb-[6.7rem]" id="viewport">
			<div class="flex flex-col items-center min-h-full max-lg:overflow-x-hidden [&_header]:w-full [&_main]:w-full [&_footer]:w-full [&_footer]:mt-auto">

<header>
	<section class="px-6 lg:px-10 my-6 flex items-center justify-between flex-wrap">
		<a href="{{ site.url }}" class="brand">
			<img src="{{ '/assets/img/favicon.png' | relative_url }}" alt="logo" width="50" height="50" />
			<span>{{ site.title }}</span>
		</a>
		<button type="button" class="navbar-toggle md:hidden" aria-expanded="false">
			<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
				<path fill-rule="evenodd" d="M3 7a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 13a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
			</svg>
			<span class="sr-only !overflow-hidden">Menu</span>
		</button>
		<nav class="hidden md:block max-md:pb-[6.7rem] z-10 navbar">
			<ul>
				<li class="navbar-dropdown">
					<button type="button">Kategori</button>
					<ul class="hidden">
						{%- for category in site.categories %}
						<li>
							<a href="/kategori/?q={{ category | first | replace: ' ', '+' }}">
								{{ category | first }}
							</a>
						</li>
						{%- endfor %}
					</ul>
				</li>
				<li class="navbar-dropdown">
					<button type="button">Label</button>
					<ul class="hidden capitalize">
						{%- for tag in site.tags %}
						<li>
							<a href="/label/?q={{ tag | first | replace: ' ', '+' }}">
								{{ tag | first }}
							</a>
						</li>
						{%- endfor %}
					</ul>
				</li>
				{%- assign navbar = site.posts | reverse -%}
				{%- for page in navbar %}
				{%- if page.layout != 'page' or page.navbar != true -%}
					{% continue %}
				{%- endif %}
				<li>
					<a href="{{ page.url }}">{{ page.title }}</a>
				</li>
				{%- endfor %}
			</ul>
		</nav>
	</section>
</header>

<main>
	{%- if page.url == '/' %}
	<section class="px-6 lg:px-10 py-5 mb-8 border-t border-b">
		<div class="grid grid-cols-3 justify-around gap-6">
			<article class="text-center group">
				<img src="assets/img/icon-expedition.png" alt="icon" width="40" height="40" class="inline-block max-md:mb-1 md:mr-1 transition-all md:group-hover:img-to-blue" />
				<p class="md:inline-block text-xs md:text-sm lg:text-base max-md:max-w-[11ch] mx-auto transition-all md:opacity-70 md:group-hover:opacity-100">Pengiriman cepat</p>
			</article>
			<article class="text-center group">
				<img src="assets/img/icon-secure.png" alt="icon" width="40" height="40" class="inline-block max-md:mb-1 md:mr-1 transition-all md:group-hover:img-to-blue" />
				<p class="md:inline-block text-xs md:text-sm lg:text-base max-md:max-w-[11ch] mx-auto transition-all md:opacity-70 md:group-hover:opacity-100">Transaksi aman dan nyaman</p>
			</article>
			<article class="text-center group">
				<img src="assets/img/icon-24h.png" alt="icon" width="40" height="40" class="inline-block max-md:mb-1 md:mr-1 transition-all md:group-hover:img-to-blue" />
				<p class="md:inline-block text-xs md:text-sm lg:text-base max-md:max-w-[11ch] mx-auto transition-all md:opacity-70 md:group-hover:opacity-100">Layanan cepat 24 jam</p>
			</article>
		</div>
	</section>
	{%- endif %}

	{{ content }}
</main>

<footer>
	<section class="px-6 lg:px-10 my-6 text-sm text-center opacity-60">
		{%- capture copyright -%}
			{%- assign thisyear = site.time | date: '%Y' -%}
			{%- if thisyear > '2023' -%}
				2023-{{ site.time | date: '%Y' }}
			{%- else -%}
				{{ site.time | date: '%Y' }}
			{%- endif -%}
		{%- endcapture %}
		Copyright &copy; {{ copyright }} <strong>{{ site.title }}</strong>.
		<br class="md:hidden" />
		All rights reserved.
	</section>
</footer>

<slot>
	{%- if page.layout == 'product' %}
	<script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
	<script src="{{ '/assets/js/splide.min.js' | relative_url }}"></script>
	<script src="{{ '/assets/js/zoom.min.js' | relative_url }}"></script>
	{%- endif %}
	<script src="{{ '/assets/js/main.js?dev=1.2' | relative_url }}{% if site.version %}?v={{ site.version }}{% endif %}"></script>

	{%- include google_tag_manager.html %}
</slot>

			</div>
		</div>
	</div>
</body>
</html>